@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

@layer {

    .special-font {
        font-family: 'Arsenal', sans-serif;
    }

    * {
        @apply text-black;
    }

    /* custom css goes here... */
    ._container {
        @apply max-w-[1520px];
    }

    ._center {
        @apply flex items-center justify-center
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background-color: whitesmoke;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 10px;
    }

    #blog p {
        @apply py-2
    }



}